div {
	padding: 20px 20px 20px 20px;
}

body {

	background-color: #F27700;
}

.h11 {
text-align: center;


font-size: 500%;
}

.h22 {

text-align: center;	
font-size: 300%
}

img{
	width: 100%;


}



